@charset "UTF-8";
/* CSS Document */
#container {
	width: 968px;
	background: #FFFFFF;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 0px;
	padding-bottom: 10px;
}
#banner {
	background-image: url(images/banner2.gif);
	height: 114px;
	width: 968px;
	display: block;
	text-indent:-9999px;
}
#main_image {
	background-image: url(images/left_images.gif);
	height: 584px;
	width: 300px;
}
#main_image {
	float: left;
	width: 300px;
}
#main_content {
	float: right;
	width: 668px;
}

#main_text {
	float: left;
	width: 433px;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
	font-size: 0.8em;
}
#quick_links {
	float: right;
	width: 140px;
	text-align: center;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#title {
	float: left;
	width: 60px;
	height: 400px;
}
body {
	font-family: Tahoma, Geneva, sans-serif;
	color: #630;
	padding: 0px;
	background-color: #FFF;
	text-align: justify;
	margin: 0;
}
#links {
	font-weight: normal;
	color: #F93;
	text-align: right;
	word-spacing: 4.8em;
	font-size: 0.75em;
	float: right;
	width: 700px;
	padding-right: 5px;
	height: 30px;
}
#hr_en {
	font-weight: normal;
	color: #F93;
	text-align: left;
	float: left;
	font-size: 0.8em;
	width: 200px;
	height: 30px;
}
#header {
	width: 968px;
	height: 30px;
}
#quick_links h4 {
	text-align: center;
	font-weight: normal;
}
#container #main_content #quick_links p {
	text-align: center;
	font-size: 0.85em;
}
#container #main_content #main_text p {
	color: #630;
}
#container #main_content #copyright {
	font-size: 9px;
}
